/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background: white;
    color: #333;
}
*/

.kpi-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: center;
}

.kpi {
    flex: 1;
}

.kpi-value {
    font-size: 48px;
    font-weight: bold;
    color: #99b7c6; /* Pink */
    margin-bottom: 10px;
}

.kpi-title {
    font-size: 20px;
    font-weight: 600;
}

.kpi-subtitle {
    font-size: 13px;
    color: #777;
}

.section-title {
    font-size: 26px;
    margin: 30px 0 10px;
}

.progress-wrapper {
    width: 100%;
    background: #f2f2f2;
    height: 50px;
    border-radius: 6px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background: #99b7c6;
    border-radius: 6px 0 0 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers text */
    color: white; 
    font-weight: bold;
    font-size: 18px;
    overflow: hidden; /* Prevents text spilling out */
}

.progress-text {
    position: relative;
    z-index: 2; /* Keeps it above the bar */
}


.goal-marker {
    position: absolute;
    height: 100%;
    width: 3px;
    background: #444;
    right: 0;
    top: 0;
}

.donation-amount {
    margin-top: 8px;
    margin-block: 20px;
    font-size: 14px;
    color: #555;
}

.donation-count {
    text-align: center;
    margin-top: 40px;
}

.donation-count-number {
    font-size: 80px;
    color: #99b7c6;
    font-weight: bold;
    margin: 0;
}

.donation-count-label {
    font-size: 28px;
    margin: 0;
}